@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


html {
  scroll-behavior: smooth;
 
}



   :root {
  /* color */
  --white-color :#ffff;
  --dark-color :#252525;
  --primary-color: rgb(54, 178, 245);
  --secondary-color: #ffffff;
  --background-color :#faf8f4ee;
  --medium-gray-color: #ccc;
  --light-pink-color: #f4f4faee;

  
  /* font-size */
  --font-size-s: 0.875rem; /* 14px */
  --font-size-n: 1rem; /* 16px */
  --font-size-m: 1rem; /* 20px */
  --font-size-l: 1.8rem; /* 24px */ 
  --font-size-xl: 1.5rem; /* 32px */
  --font-size-xxl: 2.5rem;

  /* font-weight */
  --font-weight-semibold: 500;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* border-radius */
  --border-radius-small: 8px;
  --border-radius-m: 30px;
  --border-radius-large: 50%;
  --border-radius-circle: 100%;

  --site-max-width: 1300px;
}

#image-brand {
    width: 50px;
    border-radius: 10px;
}

a {
        text-decoration: none;
  
}

ul {
        list-style: none;

}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);

}


.section-title {
  text-align: center;
  padding:  60px 0 100px;
  text-transform: uppercase;
  font-size: var(--font-size-xl);

}

.section-title::after {
  content: " ";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-m);
  background: var(--primary-color)
}


/* header */
header {
        width: 100%;
        height: 5rem;

}

.container {
        width: 100%;
        max-width: 97rem;
        margin: 5px auto;

}

/* Header styling */



button {
   
    cursor: pointer;
    
}

.header {
    position: fixed;
    text-align: center;
    

}

.fixed-nav {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
     background: linear-gradient(18deg, rgba(0, 0, 0, 0.39)0%, rgb(0, 0, 0)100%);
     z-index: -1;
   

}

header .nav-menu {
    display: flex;
    gap: 50px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .nav-menu a {
        color: #fff;     
        transition: 0.5s ease-in-out;
        font-size: 18px;
}

nav .nav-menu a:hover {
        background-color:  rgb(77, 181, 237);
        padding: 5px 5px;
        border: 2px solid rgba(0, 187, 255, 0.722);
        border-radius: 50px;
        font-weight: 500;
        font-size: bold;
         font-family: "Miniver", cursive;
}

 .navbar #menu-close-button, #menu-open-button {
  display: none;
}

/* section */

.hero {
   width: 100%; 
   height: 100vh;    
  background: linear-gradient(138deg, rgba(0, 0, 0, 0.39)0%, rgb(0, 0, 0)100%), url("robotics 2.jpg"), center no-repeat;
        background-size: cover;
        background-attachment: fixed;
         background-blend-mode: darken;
object-fit: contain;
       
       
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;


}

.hero  .main-message {
         width: 100%;
         height: 100vh;
         text-align: center;
         font-family: "Adamina", cursive;
         font-size: large;

         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         color: white;
         

    }   
    
    .main-message-heading {
        font-family: "Adamina", serif
    }

span {
    color: rgb(0, 149, 255);
    text-transform: uppercase;
    font-size: larger;

}

.hero .main-message .sub-button {
    border-color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-size: large;
    background-color: var(--primary-color);
    transition: 0.3s ease;
    color: whitesmoke;

}

.hero .main-message .sub-button:hover
 {
    background: transparent;
    border: 5px solid var(--primary-color);
}

/* About section */
.about-section {
  padding: 120px 0;
  background: transparent;
  
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.about-section .about-image-wrapper .about-image {
  width: 500px;
  height: 400px;
  object-fit:fill;
  border-radius:50%;
  
}

.about-section .about-details .section-title {
  padding:0;


}

.about-section .about-details {
  max-width: 50%;

}

.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: var(--font-size-l);
  font-family: "Miniver", serif;
}

.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;

}

.about-section .social-link-list .social-link{
  color: var(--primary-color);
  font-size: var(--font-size-l);
  transition: 0.5s ease-in-out;
  
}

.about-section .social-link-list .social-link:hover {
    background-color: var(--secondary-color);


}

/*Services Styling */
.menu-section {
  color: var(--white-color);
  background-color: var(--dark-color);
  padding: 50px 0 100px;
}

.menu-section .menu-list{
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  align-items: center;
  justify-content: center;
  

}

.menu-section .menu-list .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  width: calc(100% / 3 - 110px );
   
}

.menu-section .menu-list .menu-item .menu-image {
  max-width: 83%;
  aspect-ratio: 1;
  margin-bottom: 15px;
  object-fit: contain;
  border-radius: 30%;
 

}

.menu-section .menu-list .menu-item .name {
  margin: 12px 0;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-item .text {
  font-size: var(--font-size-m);
}

/* Testimonial Section */
.testimonials-section {
  padding: 50px 0 100px;
  background: var(--light-pink-color);
}

.testimonials-section .testimonial {
  display: flex;
  padding: 35px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.testimonials-section .testimonial .user-image {
  width: 180px;
  height: 100px;
  object-fit: cover;
  z-index: -1;
  margin-bottom: 50px; 
  border-radius: var(--border-radius-circle);

}

.testimonials-section .testimonial .name {
  margin-bottom: 16px;
  font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback {
  line-height: 25px;
}

/* Gallery Section */

.gallery-section {
  padding: 50px 0 100px;
}

.gallery-section .gallery-list {
    display: flex;
    width: initial;
    flex-wrap: wrap;
    gap: 35px;

}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    

}

.gallery-section .gallery-list .gallery-item { 
    width: calc(100% / 3 - 32px);
    border-radius: var(--border-radius-small);
    
}

.gallery-section .gallery-item:hover  {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}


/* Contact Section */
/* Contact us section styling*/
.contact-section {
  width: 100%;
  padding: 50px 0 100px;
  background: var(--light-pink-color);
}

.contact-section .section-content {
  display: flex;
  gap: 48px;
  align-items: flex-start;
  justify-content: space-between;

}

.contact-section .contact-info-list .contact-info{
  max-width: 100%;
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.contact-section .contact-info-list .contact-info i {
  font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
  width: 100%;
  height: 50px;
  background: var(--white-color);
  padding: 30px 12px;

  margin-bottom: 16px;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--medium-gray-color);

}

 .contact-section .contact-form {
  max-width: 50%;
 }

.contact-section .contact-form .form-input:focus {
  border-color: var(--primary-color);
}


.contact-section .contact-form textarea {
  height: 500px;
  padding: 12px;
  resize: vertical;
}

.contact-section .contact-form .submit-button {
  padding: 10px 26px;
  color: var(--white-color);
  font-size: var(--font-size-s);
  font-weight: var(--medium-gray-color);
  background:var(--primary-color);
  border-radius: var(--border-radius-m);
  border: 1px solid var(--primary-color);
  transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover,
.footer-section .policy-text .policy-link:hover {
  background: transparent;
  color: var(--primary-color);
}

/* Footer section */
.footer-section {
  padding: 20px 0;
  background: var(--dark-color);

}

.footer-section .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
  color: var(--white-color);
  transition: 0.3s ease;
}

.footer-section .social-link .social-link {
  font-size: var(--font-size-m);

}

.footer-section .social-link-list {
  display: flex;
  gap: 20px;
}

/* Responsiveness max-width: 900px */

@media screen and  (max-width: 900px){
  :root {
      /* font-size */
        --font-size-s: 0.875rem;
        --font-size-n: 1rem;
        --font-size-m: 1.5rem;
        --font-size-l: 1.8rem;
  }
  
  body.show-mobile-menu header::before{
    content: " ";
        position: fixed;
        top: 0;
        left: -300px;
        width: 100%;
        max-width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background: rgba(2, 2, 2, 0.2);
        z-index: 999;

}

/* Contact Section */

.about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .about-section .section-content {
        flex-direction: column;
        gap: 70px;
    }
/* Services section */
.menu-section .menu-list {
        gap: 20px;
}

.menu-section .menu-list .menu-item {
        width: calc(100% / 2 - 30px);
    }

    .menu-section .menu-list .menu-item .text {
      font-size: var(--font-size-m);
    }

    /* Gallery Section */

    .gallery-section .gallery-list {
        gap: 30px;
    }

    .gallery-section .gallery-list .gallery-item {
        width: calc(80% / 2 - 30px);
    }

/* Contact section styles */
.contact-section .section-content {
    flex-direction: column;
    
}

.hero .main-message {
  width: 100%;
}



@media screen and (max-width: 800px) {
  .contact-content {
    grid-template-columns: 1fr;
    gap: 20px;
  }}
  
      
  

    body.show-mobile-menu .navbar .nav-menu {
    left: 0px;
    z-index: -100;
    
  }
  
  .navbar #menu-close-button, #menu-open-button{
        font-size: var(--font-size-l);
        display: block;

      }

      .navbar #menu-close-button {
        position:absolute;
        right: 30px;
        top: 30px;
      }

      .navbar .nav-menu .nav-link {
        display: none;
        color: #252525;
      }

      .navbar .nav-menu  {
    display: block;
    position: fixed;
    top: 0;
    left:-300px;
    height: 100%;
    width:300px;
    background: var(--white-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    transition: left 0.2s ease;
  }

  .navbar .nav-menu .nav-link {
    color: var(--black-color);
    font-size: var(--font-size-l);
    display:block;
    margin-top: 17px;
    
  }

  /* Gallery Section */

  .gallery-section {
  padding: 50px 0 100px;
}

.gallery-list .gallery-item:nth-child(9){
  display: none;
}



.gallery-section .gallery-item .gallery-image {
 
  height: 100%;
  cursor: zoom-in;
  transition: 0.3s ease;

}

.gallery-section .gallery-item:hover  .gallery-image {
  transform: scale(1.3);
}

/* About-Section */

.about-section .section-content {
    flex-direction: column;
    gap: 70px;

  }

  /* Contact Section */
  .contact-section .contact-form {
        max-width: 100%;
    }

  .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }

  }

 

/* Responsiveness max-width: 400px;*/

@media screen and  (max-width: 400px) {
   .menu-section .menu-list .menu-item {
    width: calc(100% / 1 - 110px);
  }
}



